<h1>Cuperativa</h1>
<p>Benvenuti nella Cuperativa.</p>

<div *ngIf="!isConnected">
  Non sei connesso al server. Per collegarti usa il tasto Server in basso a destra.
</div>
<div *ngIf="(isConnected) && (!isloggedin)">
  <p>Per giocare a carte in rete occorre efftuare il login.</p>
</div>


<div *ngIf="isloggedin">
  <h3>Giochi disponibili</h3>
  <div class="grid grid-pad">
    <div *ngFor="let cardGame of cardGames" (click)="gotoCardGame(cardGame)" class="col-1-4">
      <div class="module cardGame">
        <h4>{{cardGame.name}}</h4>
      </div>
    </div>
  </div>
</div>
