<p></p>
<h3 class="ui header">Giochi disponibili in rete</h3>
<div class="ui divider"></div>

<table class="ui compact celled definition table">
  <thead class="full-width">
    <tr>
      <th></th>
      <th>N.</th>
      <th>Utente</th>
      <th>Gioco</th>
      <th>Comandi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games">
      <td></td>
      <td>
        {{game.index}}
      </td>
      <td>
        {{game.user}}
      </td>
      <td>
        <h4 class="ui image header">
          <div> <i class="{{game.iconname}} icon"></i></div>
          <div class="content">
            {{game.game_name}}
            <div class="sub header">Opzioni: {{game.opzioni_short}}</div>
          </div>
        </h4>
      </td>
      <td>
        <div>
          <button *ngIf="!game.is_me" (click)="joinGameReq(game)"><i class="hand point right outline icon"></i>Gioca</button>
          <button *ngIf="game.is_me" (click)="removeGameReq(game)"><i class="trash icon"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        <button class="ui right floated small primary labeled icon button" (click)="askNewGame('modalGamesAsk')">
          <i class="plus circle icon"></i> Nuovo Gioco
        </button>
        <button *ngIf="is_admin()" class="ui right floated small negative labeled icon button" (click)="removeGameReq(null)">
          <i class="minus circle icon"></i> Rimuovi tutti
        </button>
      </th>
    </tr>
  </tfoot>
</table>
<!-- Chat Page -->
<div class="ui minimal comments">
  <h3 class="ui dividing header">Chat</h3>

  <div class="comment" *ngFor="let msgItem of chatMsgs">
    <div class="content">
      <a class="author">{{msgItem.username}}</a>
      <div class="metadata">
        <span class="date">{{msgItem.datetime}}</span>
      </div>
      <div class="text">
        {{msgItem.body}}
      </div>
    </div>
  </div>
  <div class="ui left icon action input">
    <i class="comment outline icon"></i>
    <input type="text" #chatbox placeholder="Chat #" (keyup.enter)="sendChatMsg(chatbox.value); chatbox.value=''">
    <button class="ui icon right attached primary button" (click)="sendChatMsg(chatbox.value); chatbox.value=''"><i
        class="paper plane icon"></i>
    </button>
  </div>
</div>
<!-- modal dialogbox for creating a new game -->
<jw-modal id="modalGamesAsk">
  <form class="ui large form" name="form" #f="ngForm" novalidate>
    <div class="ui dimmer modals page transition visible active" style="display: flex !important;">
      <div class="ui standard test modal transition visible active" style="display: block !important;">
        <div class="header">
          Crea un nuovo gioco
        </div>
        <div class="image content">
          <div class="ui large image">
            <img src="/assets/images/bar_cooperativa.jpg">
          </div>
          <div class="description">
            <div class="ui header">Partita</div>
            <div class="grouped fields">
              <label for="game">Seleziona il tuo gioco preferito:</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="game-sel" value="Briscola" [(ngModel)]="model.game">
                  <label>Briscola in due</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" disabled="true" name="game-sel" value="Mariazza" [(ngModel)]="model.game">
                  <label>Mariazza</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" disabled="true" name="game-sel" value="Briscolone" [(ngModel)]="model.game">
                  <label>Briscolone</label>
                </div>
              </div>

            </div>
            <div class="field" [ngClass]="{ 'error': num_segni.touched && !num_segni.valid }">
              <div class="ui label">Numero dei segni</div>
              <div class="ui left icon input">
                <i class="tasks icon"></i>
                <input type="text" name="num_segni" pattern="^[1-5]" required placeholder="Segni" [(ngModel)]="model.num_segni"
                  #num_segni="ngModel">
              </div>
              <cup-show-error path="num_segni" text="Il numero dei segni (corretto tra 1 e 5) "></cup-show-error>
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="ui deny button submit" (click)="cancelDialogNewGame()">
            Cancella
          </button>
          <button class="ui positive right labeled icon submit button" (click)="f.form.valid && createNewGameReq(f)">
            OK
            <i class="checkmark icon"></i>
          </button>
        </div>
      </div>
    </div>
  </form>


</jw-modal>