<p></p>
<h3 class="ui header">Giochi disponibili in rete</h3>
<div class="ui divider"></div>

<table class="ui compact celled definition table">
  <thead class="full-width">
    <tr>
      <th></th>
      <th>N.</th>
      <th>Nome</th>
      <th>Gioco</th>
      <th>Comandi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games">
      <td>
        {{game.index}}
      </td>
      <td>
        {{game.user}}
      </td>
      <td>
        <h4 class="ui image header">
          <div> <i class="{{game.iconname}} icon"></i></div>
          <div class="content">
            {{game.game_name}}
            <div class="sub header">Opzioni: {{game.opzioni_short}}</div>
          </div>
        </h4>
      </td>
      <td><button (click)="selectGame(game)">
          <i class="hand point right outline icon"></i>Gioca</button>
      </td>
    </tr>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        <button class="ui right floated small primary labeled icon button" (click)="askNewGame('modalGamesAsk')">
          <i class="plus circle icon"></i> Nuovo Gioco
        </button>
      </th>
    </tr>
  </tfoot>
</table>

<jw-modal id="modalGamesAsk">
  <div class="ui dimmer modals page transition visible active" style="display: flex !important;">
    <div class="ui standard test modal transition visible active" style="display: block !important;">
      <div class="header">
        Select a Photo
      </div>
      <div class="image content">
        <div class="ui large image">
          <img src="/assets/carte/piac/01_basto.png">
        </div>
        <div class="description">
          <div class="ui header">We've auto-chosen a profile image for you.</div>
          <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a>
            image associated with your registered e-mail address.</p>
          <p>Is it okay to use this photo?</p>
        </div>
      </div>
      <div class="actions">
        <button class="ui black deny button" (click)="cancelNewGame()">
          Nope
        </button>
        <div class="ui positive right labeled icon button">
          Yep, that's me
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
  </div>
</jw-modal>